@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $color-dark;
}

.button {
  margin-left: 8px;
  color: gray;
  background: none;
  border: none;
  cursor: pointer;
  transition: color .2s;
}

.isFavorite {
  color: gold;
}